<%= form_with(model: sitter, local: true) do |form| %>
  <% if sitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sitter.errors.count, "error") %> prohibited this sitter from being saved:</h2>

      <ul>
      <% sitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :suburb %>
    <%= form.text_field :suburb %>
  </div>

  <div class="field">
    <%= form.label :state%>
    <%= form.select :state, state: ["VIC", "NSW", "WA", "TAS", "NT", "ACT", "QLD", "SA"]  %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.number_field :postcode %>
  </div>

  <div class="field">
    <%= form.label :business_name %>
    <%= form.text_field :business_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
