<div class='dashboard'>
  <%= render 'layouts/owner-top-nav' %>
  <div class='main-dashboard'>
    <%= render 'layouts/owner-side-links' %>
    <div class='dogs-index'>
      <div class='dogs-headers'>
        <h1>My Dogs</h1>
        <%= link_to 'New Dog', new_dog_path, class: 'new-link' %>
      </div>
      <div class='all-dog-avatars'>
      <% @dogs.each do |dog| %>
        <div class='dog-avatar'>
          <%= image_tag   dog.picture if dog.picture.attached? %>
          <h3>Name</h3><%= dog.name %>
          <h3>Breed</h3><%= dog.breed %>
          <h3>Date of Birth</h3><%= dog.date_of_birth %>
          <h3>Microchip Number</h3><%= dog.microchip_number %>
          <h3>Sex</h3><%= dog.sex %>
          <h3>Bio</h3><%= dog.bio %>
          <%= link_to 'Show', dog %>
          <%= link_to 'Edit', edit_dog_path(dog) %>
          <%= link_to 'Delete Profile', dog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>


