<div class='owner-dashboard'>
  <%= render 'layouts/owner-top-nav' %>
  <div class='main-booking'>
    <%= render 'layouts/owner-side-links' %>
    <div class='bookings-index'>
      <div class='booking-headers'>
        <h1>My Bookings</h1>

        <% if owner_user_signed_in? %>
            <%= link_to 'New Booking', new_booking_path, class: 'new-link' %> 
        <% end %>  
      </div>
      <div class=''>
        <%= month_calendar events: @bookings do |date, bookings| %>
          <%= date.day %>

          <% bookings.each do |booking| %>
            <button>
              <%= booking.start_time.strftime("%H:%M - ")  %>
              <%= booking.end_time.strftime("%H:%M") %>
              <br>
              <%= booking.approved_sitter.owner.dogs.name %>
              <br>
              <% if owner_user_signed_in? %>
                <%= booking.approved_sitter.sitter.name %>
              <% end %>
            </button>
          <% end %>
        <% end %>
      </div>
  </div>
</div>


