<div class='dashboard'>
  <% if owner_user_signed_in? %>
    <%= render 'layouts/owner-top-nav' %>
  <% else %>
    <%= render 'layouts/sitter-top-nav' %>
  <% end %>
  <div class='main-dashboard'>
    <% if owner_user_signed_in? %>
      <%= render 'layouts/owner-side-links' %>
    <% else %>
      <%= render 'layouts/sitter-side-links' %>
    <% end %>
    
    <div class='index'>
      <h1>My Bookings</h1>
      <% if owner_user_signed_in? %>
        <div>
          <%= link_to 'New Booking', new_booking_path, class: 'new-link' %> 
          <%= week_calendar number_of_weeks: 2, events: @bookings do |date, bookings| %>
            <%= date.day %>

            <% bookings.each do |booking| %>
              <%= booking.start_time.strftime("%H:%M - ")  %>
              <%= booking.end_time.strftime("%H:%M") %>
              <br>
              <%= booking.approved_sitter.sitter.name %>
              <br>
              <%= link_to 'Show Booking', booking_path(booking) %>
              <%= link_to 'Cancel Booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
              <br>
              <br>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <%= week_calendar number_of_weeks: 2, events: @bookings do |date, bookings| %>
          <%= date.day %>

          <% bookings.each do |booking| %>
            <%= booking.start_time.strftime("%H:%M - ")  %>
            <%= booking.end_time.strftime("%H:%M") %>
            <%= booking.approved_sitter.owner.name %>
            <%= link_to 'Show Booking', booking_path(booking) %>
            <br>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

