<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Time starts:</strong>
  <%= @booking.time_starts.strftime('%H:%M') %>
</p>

<p>
  <strong>Time finishes:</strong>
  <%= @booking.time_finishes.strftime('%H:%M') %>
</p>

<p>
  <strong>Sitter:</strong>
  <%= @booking.approved_sitter.sitter.name %>
</p>


<%= link_to 'Back', bookings_path %>
