<p id="notice"><%= notice %></p>

<p>
  <strong>Time starts:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>Time finishes:</strong>
  <%= @booking.end_time %>
</p>

<p>
  <strong>Sitter:</strong>
  <%= @booking.approved_sitter.sitter.name %>
</p>


<%= link_to 'Back', bookings_path %>
