<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Time starts:</strong>
  <%= @booking.time_starts %>
</p>

<p>
  <strong>Time finishes:</strong>
  <%= @booking.time_finishes %>
</p>

<p>
  <strong>Dogs:</strong>
  <%= @booking.number_of_dogs %>
</p>

<p>
  <strong>Sitter:</strong>
  <%= @booking.approved_sitter.sitter.name %>
</p>


<%= link_to 'Back', bookings_path %>
