<!DOCTYPE html>
<html>
  <head>
    <title>PetSittingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3b59bc8a77.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <nav>
      <i class="fas fa-dog dog_icon"></i>
      <a><%= link_to 'PetSitters', root_path %></a>
      <div>
        <% destroy_path = owner_user_signed_in? ? destroy_owner_user_session_path : destroy_sitter_user_session_path %>
        <% new_path = owner_user_signed_in? ? new_owner_user_session_path : new_sitter_user_session_path %>
        <% if owner_user_signed_in? || sitter_user_signed_in? %>
          <%= link_to "logout", destroy_path, method: :delete %>
        <% else %>
            <%= link_to "login", sign_in_path %>
            <%= link_to "sign up", sign_up_path %>
        <% end %>
      </div> 
    </nav>


    <%= yield %>
  </body>
</html>
