<!DOCTYPE html>
<html>
  <head>
    <title>PetSittingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: :all, 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3b59bc8a77.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class='nav-bar'>
      <div>
        <i class="fas fa-dog dog_icon"></i>
        <a><%= link_to 'PetSitters', root_path, class: 'nav-header' %></a>
      </div>
      <div>
        <% destroy_path = owner_user_signed_in? ? destroy_owner_user_session_path : destroy_sitter_user_session_path %>
        <% if owner_user_signed_in? || sitter_user_signed_in? %>
        <div class="dropdown">
          <%= link_to "Logout", destroy_path, method: :delete, class:'dropbtn' %>
        </div>
        <div class='dropdown'>
          <% if sitter_user_signed_in? %> 
            <%= link_to 'Dashboard', sitters_path, class: 'dropbtn'  %>
          <% elsif owner_user_signed_in? %>
            <%= link_to 'Dashboard', owners_path, class: 'dropbtn'  %>
          <% end %>
        </div>
        <% else %>
          <div class="dropdown">
            <button class="dropbtn">Login</button>
              <div class="dropdown-content">
                <%= link_to 'Sitter Login', sitters_path, class: 'dropdown-links' %>
                <%= link_to 'Owner Login', owners_path, class: 'dropdown-links' %>
              </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Sign Up</button>
              <div class="dropdown-content">
                <%= link_to 'Sign Up as a Sitter', new_sitter_user_registration_path, class: 'dropdown-links' %>
                <%= link_to 'Sign Up your Pets', new_owner_user_registration_path, class: 'dropdown-links' %>
              </div>
          </div>
        <% end %>
      <div>
    </nav>

    

    <%= yield %>
  </body>
</html>



